<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ithang.system.resource.mapper.ResourceMapper">


    <!-- 新增Resource -->
    <insert id="add" parameterType="org.ithang.system.resource.bean.Resource" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO `resource` (
			    
			    `id`
			    ,
			    `type`
			    ,
			    `title`
		)
		VALUES
			(
			       
			         #{id}
			       ,
			         #{type}
			       ,
			         #{title}
			)
    </insert>

    <!-- 根据ID得到指定记录 -->
    <select id="get" resultType="org.ithang.system.resource.bean.Resource">
        select * from `resource` where `id`=#{id}
    </select>
    
    <delete id="delete">
        delete from `resource` where `id`=#{id}
    </delete>
    
    <update id="update">
        update `resource`
        <set>
            <trim prefix="" prefixOverrides="," suffixOverrides=",">
	                    <if test="type!=null">
	                        `type`=#{type} ,
	                    </if>
	                    <if test="title!=null">
	                        `title`=#{title} ,
	                    </if>
            </trim>
        </set>
        where `id`=#{id}
    </update>
    
    
    <!-- 查询所有数据 -->
    <select id="list" resultType="org.ithang.system.resource.bean.Resource">
        select * from `resource`
        <trim prefix="where" prefixOverrides="and|or" suffixOverrides="and|or">
            <if test="ids!=null">
                <foreach collection="ids" index="index" item="id">
                    `id`=#{id} or
                </foreach>
            </if>
        </trim>
    </select>
    
    <!-- 分页查询部分数据 -->
    <select id="page" resultType="org.ithang.system.resource.bean.Resource">
        select * from `resource`
        <trim prefix="where" prefixOverrides="and|or" suffixOverrides="and|or">
                <if test="page.bean.id!=null">
                    `id`=#{page.bean.id} and
                </if>
                <if test="page.bean.type!=null">
                    `type`=#{page.bean.type} and
                </if>
                <if test="page.bean.title!=null">
                    `title`=#{page.bean.title} and
                </if>
        </trim>
    </select>
    
    <!-- 分页查询部分数据 -->
    <select id="query" resultType="org.ithang.system.resource.bean.Resource">
        select * from `resource`
        <trim prefix="where" prefixOverrides="and|or" suffixOverrides="and|or">
                <if test="id!=null">
                    `id`=#{id} and
                </if>
                <if test="type!=null">
                    `type`=#{type} and
                </if>
                <if test="title!=null">
                    `title`=#{title} and
                </if>
        </trim>
    </select>

</mapper>